@import url('https://fonts.cdnfonts.com/css/tex-gyre-termes');

*{
    margin: 0;
}

body {
    font-family: 'TeXGyreTermes', sans-serif;
    font-size: 19.5px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  span{
    font-size: 29px;
  }
  

.full-background {
    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Take full size */
    height: 100vh;
    width: 100%;

    /* Background */
    background: url(../images/home/main-banner.png) center center / cover no-repeat;

    position: relative;

    z-index: 0;
    margin: 0;
}

img{
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 1; /* add a higher z-index value */
}

.menu-btn1, .menu-btn2 {
    border: none;
    color: white;
    z-index: 1;

    font-size: 19.5px;
    font-family: 'TeXGyreTermes', sans-serif;
    font-weight: bold;


 
  }

.menu-btn1{
  background-color: rgba(255, 249, 241, 0.3);

  position: absolute;  
  left: 20px ;
  bottom: 260px;

  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 90px;

  font-size: 26px;
  white-space: nowrap;
 

}

.menu-btn2{
    background-color: rgba(255, 249, 241, 0.3);

    position: absolute;
    left: 20px ;
    bottom: 150px;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;

    text-align: left;
}

.border-element{

  border: 2px solid  rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 1;


}


.menu {
  display: inline-block;
  position: absolute;
  bottom: 0;
}

.menu :hover {
  background-color: rgba(233, 192, 139, 0.5);
}

.menu-btn2 span {
  pointer-events: none;
}

@media only screen and (max-width: 480px) {
  .menu-btn1, .menu-btn2 {
    color: #3D3B3A;
  }

}